{% extends "layout.html" %}

{% block body %}

<h3>Hakkımda</h3>
<hr>
Bu yazı adı üstünde hakkımda birkaç bilgiyi barındıran bir yazı olmalıydı. Ancak ne kadar kendimi anlatmaya çalışırsam bi’ o kadar da yetersiz kalacağım. Çünkü kendi hakkımda dahi yeterli bilgiye sahip sayılmam. Benliğimde keşfedeceğim birçok özellik ve yetenek var. Belki de tüm bunları ilerleyen zamanki yazılarımdaki yaşanan gelişmelerde fark edeceğim. Şimdilik anlatacaklarım bu kadar. Diğer yazılarda görüşmek üzere.

Hoşça kalın…
<hr>

{% endblock body %}