{% extends "layout.html" %}

{% block body %}
        
        <div class="jumbotron">
            <h1 class="display-4">HoşGeldiniz,Yazılım Bilimi Blogundasınız!</h1>
            <p class="lead">Bu Blogda İnsanlar Birbirine Yardım Amaçlı Bloglar Paylaşıyor Sende Bize Katılmak İstermisin?</p>
            <hr class="my-4">
            <p>Hakkımızdakileri Öğrenmek İstersen Alttaki Button Tam Sana Göre</p>
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="/about" role="button">Hakkımızda!</a>
            </p>
        </div>
    
{% endblock body %}